

body{
margin: 0;
  height: 100vh;
  background: #0ea5b7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

.card {
  background-color: white;
  padding: 20px;
  width: 260px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  text-align: left;
  transition: 0.3s;
}


.card:hover {
  transform: scale(1.05);
}

h2 {
  margin: 0;
}

.username {
  color: gray;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #0ea5b7;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0b7f8c;
}
